{{ define "main" }}
  {{/* Inhalt von _index.md */}}
  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy nested-links {{ $.Param "text_color" | default "mid-gray" }}">
    {{ .Content }}
  </article>

  {{ $blog := site.GetPage "page/blog.md" }}
  {{ with $blog }}
    <section class="pa3 pa4-ns w-100 w-70-ns center">
      <h2 class="f2 tc">{{ .Title }}</h2>

      {{ $lines := split .RawContent "\n" }}
      {{ $preview := delimit (first 40 $lines) "\n" }}

      <div class="lh-copy">
        {{ $preview | markdownify }}
      </div>

      <div class="tc mt4">
        <a href="{{ .RelPermalink }}" class="f5 link dim br-pill ba bw1 ph3 pv2 mb2 dib dark-blue">Read more</a>
      </div>
    </section>
  {{ end }}
{{ end }}
